body{margin: 0px; background-color: #ebe9e6 !important; overflow-x: hidden;}
p{margin-bottom: 0px !important;}
a{color: unset !important;}
a:hover{text-decoration: none !important;}

/* -- NAVBAR -- */
nav{
    height: 100vh;
    width: 12.5vw;
    position: absolute;
    background-color: #ebe9e6;
    z-index: 1;
}
#navTitle{
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3rem;
    padding-top: 20px;
    border-bottom: 2px solid #1a1a1a;
    width: 50%;
    margin: 0 auto;
    color: black;
}
#navMenu{
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    margin-top: 25vh;
}
#navItem{
    padding: 15px 0px;
    font-weight: 400;
    font-size: 1.41rem;
    font-family: 'Nothing You Could Do', cursive;
}
#navItem:hover{
    cursor: pointer;
    color: azure;
    background-color: rgb(17, 17, 17);
}
#icons{
    width: 30px;
}


/* -- RESERVATIONS -- */
#reservations{
    background-color: white;
    border: solid 1px black;
    padding: 20px;
    width: 13vw;
    font-size: 1.2rem;
    margin: 0 auto;
    line-height: 12px;
    color: black;
    letter-spacing: 2px;
    font-family: 'Nothing You Could Do', cursive;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}


/* -- SOCIAL ICONS -- */
#cust1{
    list-style: none;
    margin: 10px 0px;
    text-align: center;
}
#cust2{
    list-style: none;
    margin: 0px 14px;
}
#icons2 {
    vertical-align: baseline;
    width: 30px;
}
#socialContainer{
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
}
#socialContainer2 ul{
    padding: 0px;
    display: flex;
    justify-content: center;
}


/* -- IMAGES -- */
header{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}
.bg-image{
    background-image: url(../images/header1.jpg);
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: 0;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.vertical-center *{
    color: #ffffff;
    font-size: 200px;
    font-family: 'Cardo', serif;
    font-size: 17em;
    color: #ebe9e6;
}
.card-img-top{
    height: 380px;
    object-fit: cover;
}


/* -- CARDS -- */
#card{
    width: 49vw !important;
    display: inline-block;
    max-height: 295px;
    border-radius: 0px;
    border: none;
    background-color: #ebe9e6;
}
.card2{
    display: none !important;
}
.card3{
    float: right;
}
.card5{
    display: table-cell !important;
    vertical-align: middle;
    width: 70% !important;
    height: 600px;
    background-color: #bdbdbd17 !important;
    box-shadow: 0px -30px 1px 0px #4d6c4cde;
    border-bottom: 5px solid rgba(0,0,0,.125);
}
.card5 h3{
    font-family: 'Nothing You Could Do', cursive;
}
.card5 *{
    text-align: center;
    font-size: 5rem;
    font-family: 'Cardo', serif;
    margin-top: 35px;
    padding: 0px 50px;
}
.card4{
    display: none !important;
}

.card6{
    box-shadow: 0px -15px 1px 0px #4d6c4cde;
}

#card-body1{
    padding: 80px 80px;
}
#card-body2{
    padding: 10px 80px;
    margin-bottom: 50px;
}
#card-body1-text1{
    font-size: 40px;
    font-family: 'Nothing You Could Do', cursive;
}
#card-body2-text2{
    text-align: right;
    font-size: 40px;
    font-family: 'Nothing You Could Do', cursive;
}
#card-body1-text2Container{
    border-bottom: solid 1.3px #1a1a1a;
    height: 100px;
    margin-top: 50px;
}
#card-body1-text2{
    font-size: 15px;
}
#card1-floatL{
    width: 33.333%;
    display: inline-block;
}
#card1-floatM{
    width: 33.333;
    display: inline-block;
    float: right;
}
#card1-floatR{
    width: 33.333%;
    display: inline-block;
}


/* -- BUTTONS -- */
#fullMenuBttn{
    border: solid 1px #000000;
    padding: 5px;
    width: 150px;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}


/* -- CAROUSEL -- */
.carousel-inner {
    max-height: 350px;
}


/* -- OTHER -- */
#gmaps{
    min-height: 350px;
    width: 100%;
}
#specialsTitle{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 4.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}
#section1{
    background-color: #4d6c4cde;
    height: 35vh;
    display: block;
    margin-bottom: -50px;
}
#section2{
    min-height: 295px;
}
#section3{
    width: 65%;
    display: block;
    margin: 150px auto;
}
#section4{
    text-align: center;
    display: block;
    margin: 209px auto;
}
#card_container{
    max-width: 1500px;
    margin: 0 auto;
}
.special_card_title{
    font-family: 'Nothing You Could Do', cursive;
    letter-spacing: 1px;
    font-weight: bold;
}
.special_card_desc{
    font-family: 'Cardo', serif;
    font-size: 1rem;
    color: #585050;
}
.special_card_body{
    background-color: #bdbdbd17 !important;
    border-bottom: solid 1px #989292;
    border-radius: 2px;
}
#mobileWarning{
    display: none;
}

@media(max-width:1300px){
    #mobileWarning{
        color: white;
        font-size: 15px;
        text-align: center;
        display: table-cell !important;
        vertical-align: middle;
        height: 100vh;
        width: 100vw;
    }
    body{ background-color: #1a1a1a !important;}
    #desktop_only{display: none;}
}